@import '~bulma/bulma.sass'
@import '../../../sass/_colors'

.contrib

    text-transform: uppercase
    color: $contribute-color
    background-color: $element-background
    padding-bottom: 1.5rem

    &.level
        margin-bottom: 0em !important

    &main .enable
        background-color: $contribute-background
        padding: 2em
        margin-top: 2em

    & .level-item
        padding-top: 1em
        padding-bottom: 1em

    & .menu

        border-bottom-color: $element-background
        border-bottom-width: 0.5em
        padding-bottom: 0px

    & .column
        padding: 0.5em 0 0 0

    & .level-item
        border-bottom-color: $iteration-border-color
        border-bottom-width: 0.2em
        border-bottom-style: solid

    & .level-item.active
        color: $accent-col-3

        border-bottom-color: $accent-col-3
        border-bottom-width: 0.2em
        border-bottom-style: solid

.items-container
    width: 100%
    display: flex
    justify-content: space-around
    align-items: center

    .is-shrinkable
      flex-shrink: 1

    .item-container
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: center
        max-width: 13rem
        text-align: center

        p
            text-align: center
            padding: 1rem 0

        .item-image
            width: 25%


.text-color-white
    color: $white !important




.donate-modal-thanks
  border-radius: 0.31rem

  input
    margin-right: 1em
    color: blue

  .modal-card
    position: absolute
    // width: 30rem
    // height: 15rem

    background-color: $element-background
    border-radius: 0.31rem

  .modal-card-head, .modal-card-body, .modal-card-foot
    background-color: $element-background
    border-bottom: none
    border-top: none

  .modal-card-head, .modal-card-foot
    height: 5rem

  .modal-card-foot
    justify-content: center
    padding-top: 5em
    padding-bottom: 5em


  .modal-card-body
    width: calc(100% - 1.25rem)

    p, .checkbox, .checkbox a
      font-size: 1rem
      line-height: 1.19rem
      color: $white
      mix-blend-mode: normal
      // opacity: 0.6
      text-align: justify

  .modal-card-title
    font-size: 1.25rem
    color: $white
    text-align: left

  .is-divider
    height: 1rem
    background-color: $divider-color

  .level-left
    padding-left: 0.5rem
    max-width: 25rem

  .is-size-7
    padding-left: 0.5rem
    text-align: justify
    color: $white
    mix-blend-mode: normal
    // opacity: 0.4

.donate-modal-thanks-content
    white-space: pre-line

.buttonify
     background-color: #400

.warning
    -webkit-background-clip: text
    -moz-background-clip: text
    -webkit-text-fill-color: transparent
    -moz-text-fill-color: transparent
    background-image: linear-gradient(270deg, #1BDD9D 0%, #2CC9CC 100%)

.exchange
    font-weight: bold
    color: #1BDD9D !important
    text-decoration: none !important

.select::after
  display: none !important

@media (min-width: $tablet) and (max-width: 1024px)
  .content
    .heading
      font-size: 2rem !important
      margin-top: 6px

  .button.is-medium
    font-size: 1rem !important

  .field
    max-width: 85px !important

    .select
      font-size: 14px !important
      select
        padding-right: 0.8em !important
    .input
      font-size: 14px !important

  .amount
    max-width: 70px !important

  .icon
    top: -2px !important

@media (max-width: $tablet)
  .level-item
    margin-left: 0.4em !important
    margin-right: 0.4em !important
  .level-item:not(:last-child)
    margin: 0 !important
  .level-left
    justify-content: center !important

